@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Rubik", sans-serif;
}

table,
div,
input,
p,
button,
span,
input::placeholder {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 90%;
}

@media (min-width: 640px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}

.floated{
  background: white;
}

.floated.active{
  background-color: white;
  box-shadow: 0 1px 10px #999;
}

.home {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(./Assets/pic/euro.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.map {
  min-height: 100vh;
  background-image: linear-gradient(rgba(243, 237, 237, 0.55), rgba(245, 242, 242, 0.55)),
    url(./Assets/img/worldmap.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}